@import "./mixin.scss";

@font-face {
    font-family: "YuseiMagic";
    src: url("../Assets/Fonts/YuseiMagic-Regular.ttf");
}

html,
#root {
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    @include font-text;
    user-select: none;
}


* {
    box-sizing: border-box;
}